{% extends 'base.html' %}
{% block title %}Artykuły{% endblock %}
{% block content %}
<h1>Lista artykułów</h1>
<div class="center-button">
    <a href="{% url 'index' %}">← Powrót do listy ToDo</a>
</div>
{% for article in articles %}
<div class="todo-item">
    <div>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <small>Autor: {{ article.author.username }} | {{ article.created_at }}</small>
    </div>
</div>
{% empty %}
<p>Brak artykułów.</p>
{% endfor %}
{% endblock %}
