{% extends 'base.html' %}
{% block title %}
ToDo List
{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<div class="center-button">
    <a href="{% url 'login' %}">Zaloguj się</a>
</div>
{% endif %}
<h1>Django CRUD</h1>
<div class="center-button">
    <a href="{% url 'articles-html' %}">Zobacz artykuły</a>
</div>
<form method="POST">
    {% csrf_token %}
    {{ form.name }}
    <input type="submit" value="Add Todo">
</form>
{% for todo in todos %}
<div class="todo-item">
    <p>{{ todo }}</p>
    <div>
        <a href="{% url 'update' todo.id %}">Update</a>
        <a href="{% url 'delete' todo.id %}">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}