{% extends "base.html" %}
{% block content %}
<h1>Edytuj artykuł</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="manual_title" class="form-label">Tytuł artykułu:</label>
        <input type="text" class="form-control" id="manual_title" name="manual_title" value="{{ article.title }}" required>
    </div>
    <div class="mb-3">
        <label for="manual_content" class="form-label">Treść artykułu:</label>
        <textarea class="form-control" id="manual_content" name="manual_content" rows="6" required>{{ article.content }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Zapisz zmiany</button>
    <a href="{% url 'articles' %}" class="btn btn-secondary">Anuluj</a>
</form>
{% endblock %}
